


.new-task {
    padding: 70px 0 70px 0;
    background: none;
    outline: none;
    width: auto;
    display: flex;
    justify-content: space-between;
    
  }

  
  .new-task .newTaskname {
    background-color: rgba(0, 0, 0, 0);
    border-width: 2px 2px 2px 2px;
    border-color: white;
    border-style: solid;
    width: calc(100% - 100px);
    padding: 3px 0 0 10px ;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    color: white;
  }

  .new-task .newTaskname::placeholder {
    color: orange;
  }

  
  .new-task .ADD{
    border-width: 0;
    background: none;
    margin-left: 10px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 35px;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 200% ;
    outline: none;
    font-weight: normal;
    text-align: center;
    transition: all 600ms ease;
  }
  
  .ADD:hover {
      background: orangered;
      border-color: white;
      color: white;

  }

