

.Todo-List-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(4, 0, 250); */
    padding: 10px 40px;
    color: white;
  }
  
  .logo {
    padding: 5px 30px 5px 30px;
    font-weight: 800;
     font-size: 30px;
     font-family: 'Roboto', sans-serif;
     margin-left: 30px;
     border-radius: 15px;
     background-color: rgb(224, 71, 15);
     
  }

    .search-wrapper{
    height: 25px;
    align-content: center;
    display: flex;
    align-items: center;
    margin-right: 27px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
  }


  .search{
    background: none;
    border: none;
    outline: none;
    width: 150px;
    color: white;
    
  }
  

  
  .search-icon-wrapper{
    padding-right: 2px ;
    display: flex;
    transition:  450ms ;
  }
  
  .search::placeholder {
    color: white;
    font-size: 100%;
    font-style: oblique;
  }